<div class="cont bg-light">
    <div class="picture bg-danger">
        <img src="../../assets/images/Etickets_logo.png" alt="slika">
    </div>
    <div class="second bg-light">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card bg-danger bg-gradient mb-3">
                    <div class="card-body text-light">
                        <h5 class="card-title">Browse Tickets online</h5>
                        <p class="card-text">
                            Be first to grab tickets for your favourite event.
                        </p>
                        <hr>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, alias. Explicabo, 
                            tempore ex voluptatem officia recusandae quae praesentium unde quis quia facere enim? Voluptatum adipisci quisquam ipsa deleniti consequatur modi?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-danger bg-gradient mb-3">
                    <div class="card-body text-light">
                        <h5 class="card-title">Browse Tickets online</h5>
                        <p class="card-text">
                            Be first to grab tickets for your favourite event.
                        </p>
                        <hr>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, alias. Explicabo, 
                            tempore ex voluptatem officia recusandae quae praesentium unde quis quia facere enim? Voluptatum adipisci quisquam ipsa deleniti consequatur modi?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-danger bg-gradient mb-3">
                    <div class="card-body text-light">
                        <h5 class="card-title">Browse Tickets online</h5>
                        <p class="card-text">
                            Be first to grab tickets for your favourite event.
                        </p>
                        <hr>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, alias. Explicabo, 
                            tempore ex voluptatem officia recusandae quae praesentium unde quis quia facere enim? Voluptatum adipisci quisquam ipsa deleniti consequatur modi?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="third bg-light">
        <div class="row justify-content-center pb-5">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <button (click)="goToStore()" routerLinkActive="router-link-active"  type="button" class="btn btn-danger btn-rounded btn-lg rounded-pill">Browse Tickets</button>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>