<div class="container mt-2">
    <div *ngIf="(basket | async) === null">
        <p>You have no items in the Basket</p>
    </div>

    <div *ngIf="basket | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-basket-summary
                            (decrement)="decreaseTicketQuantity($event)"
                            (increment)="increaseTicketQuantity($event)"
                            (remove)="removeBasketTicket($event)"
                            [items]="(basket | async).items"
                            >
                        </app-basket-summary>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-sum
                            *ngIf="(basketSum | async)"
                            [shippingPrice]="(basketSum | async).shipping"
                            [subtotal]="(basketSum | async).subtotal"
                            [sum]="(basketSum | async).sum"
                        ></app-order-sum>
                        <a routerLink="/checkout" class="btn btn-outline-danger py-2 btn-block">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
