<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Details
</div>
<div class="p-4">
    <ul class="list-unstyled mb-4" *ngIf="(basketSum | async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <div class="text-muted">Subtotal</div>
            <div>{{(basketSum | async).subtotal | currency}}</div>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <div class="text-muted">Shipping</div>
            <div>{{(basketSum | async).shipping | currency}}</div>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sum</strong>
            <strong>{{(basketSum | async).sum | currency}}</strong>
        </li>
    </ul>
</div>