<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Details
</div>
<div class="p-4">
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <div class="text-muted">Subtotal</div>
            <div>{{ subtotal | currency}}</div>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <div class="text-muted">Shipping</div>
            <div>{{ shippingPrice | currency}}</div>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sum</strong>
            <strong>{{ sum | currency}}</strong>
        </li>
    </ul>
</div>