<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">eTickets</a>
        <button type="button" (click)="collapse.toggle()" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
            <ul class="navbar-nav me-auto">
                <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Home</a></li>
                <li><a [routerLink]="['/store']" routerLinkActive="active" class="nav-link">Tickets</a></li>
                <li><a href="#" class="nav-link">About</a></li>
            </ul>
        </ngx-navbar-collapse>
        <div class="d-flex align-items-center d-none d-md-flex">
            <a class="position-relative">
                <i class="fa fa-shopping-cart fa-2x mr-5 text-white"></i>
                <div class="cart-no">5</div>
            </a>
            <a class="btn btn-outline-light ms-4 me-2" href="#">Login</a>
            <a class="btn btn-outline-light me-3" href="#">Sign up</a>
        </div>
    </div>

</nav>