.cart-no {
    border-radius: 50%;
    background: orange;
    color: black;
    text-align: center;
    font-size: 1em;
    min-height: 20px;
    min-width: 20px;
    height: 25px;
    width: 25px;
    position: absolute;
    top: -8px;
    right: 25px;
}

.fa-shopping-cart {
    cursor: pointer;
}

.navbar-brand {
    font-family: 'pacifico', cursive;
}

a {
    &.active {
        color: white;
    }
}