.container {
    margin-left: 5px;
    margin-right: 5px;
}

.list-group-item{
    &.active {
        background-color: rgba(var(--bs-danger-rgb));

        &:hover {
            background-color: rgba(var(--bs-danger-rgb),0.8);
        }
    }

    &:hover {
        cursor: pointer;
    }

}