<div>
    <div class="row m-auto">
        <section class="col-3 bg-light bg-gradient ps-4 border border-danger rounded-bottom">
            <h5 class="text-danger ms-2 mt-2">Sort</h5>
            <select class="form-select my-3" (change)="sortChange($event.target.value)">
                <option *ngFor="let sort of sorts" [value]="sort.value">{{sort.name}}</option>
            </select>

            <h5 class="text-danger ms-2">Seats</h5>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let seat of seats" 
                [class.active]="seat.id === ticketParams.seatId" [value]="seat.id"
                (click)="seatFilter(seat.id)">
                    {{seat.type}}
                </li>
            </ul>
        </section>
        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <p>{{ticketParams.pageSize}}</p>
                <div class="d-flex flex-row mt-2 me-3">
                    <input (keyup.enter)="searchFilter()" type="text" class="form-control mt-2 mb-2 me-2" placeholder="Search" #search>
                    <button (click)="searchFilter()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="resetFilter()" class="btn btn-outline-danger ms-2 my-2">Reset</button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4 mb-4" *ngFor="let ticket of tickets">
                    <app-ticket-item [ticket]="ticket"></app-ticket-item>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="count > 0">
                <app-paging [pageSizeB]="ticketParams.pageSize"
                            [count]="count"
                            (pageChanged)="pageChangeAction($event)"></app-paging>
            </div>
        </section>
    </div>
</div>